In [58]:
import pandas as pd
import numpy as np

In [7]:
data=pd.Series(np.random.randn(9),index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],[1, 2, 3, 1, 3, 1, 2, 2, 3]])

In [8]:
data

a  1   -0.743338
   2   -0.407244
   3    1.337042
b  1    0.998709
   3   -1.200749
c  1   -0.038601
   2    1.837348
d  2   -0.980658
   3   -0.986187
dtype: float64

In [10]:
data.unstack().stack()

a  1   -0.743338
   2   -0.407244
   3    1.337042
b  1    0.998709
   3   -1.200749
c  1   -0.038601
   2    1.837348
d  2   -0.980658
   3   -0.986187
dtype: float64

In [11]:
data['a']

1   -0.743338
2   -0.407244
3    1.337042
dtype: float64

In [12]:
data.loc['a']

1   -0.743338
2   -0.407244
3    1.337042
dtype: float64

In [17]:
data.loc[:,1]

a   -0.743338
b    0.998709
c   -0.038601
dtype: float64

In [18]:
data.loc[['a','b']]

a  1   -0.743338
   2   -0.407244
   3    1.337042
b  1    0.998709
   3   -1.200749
dtype: float64

In [59]:
! git clone https://github.com/MansurCompAI/Practicum_Datasets.git

fatal: destination path 'Practicum_Datasets' already exists and is not an empty directory.

In [60]:
df=pd.read_csv('/content/Practicum_Datasets/world_cities_air_water_quality.csv')
df

,City,"""Region""","""Country""","""AirQuality""","""WaterPollution"""
0,New York City,"""New York""","""United States of America""",46.816038,49.504950
1,"Washington, D.C.","""District of Columbia""","""United States of America""",66.129032,49.107143
2,San Francisco,"""California""","""United States of America""",60.514019,43.000000
3,Berlin,"""""","""Germany""",62.364130,28.612717
4,Los Angeles,"""California""","""United States of America""",36.621622,61.299435
...,...,...,...,...,...
3958,Yanbu,"""Medina Province""","""Saudi Arabia""",0.000000,50.000000
3959,Cordoba,"""Andalusia""","""Spain""",85.714286,8.333333
3960,Vic,"""Catalonia""","""Spain""",100.000000,0.000000
3961,Segovia,"""Castile and Leon""","""Spain""",100.000000,0.000000
3962,Zamora city,"""Castile and Leon""","""Spain""",100.000000,50.000000

In [21]:
columns=['City',	"Region",	"Country",	"AirQuality",	"WaterPollution"]
df.columns=columns

In [22]:
df.head()

,City,Region,Country,AirQuality,WaterPollution
0,New York City,"""New York""","""United States of America""",46.816038,49.504950
1,"Washington, D.C.","""District of Columbia""","""United States of America""",66.129032,49.107143
2,San Francisco,"""California""","""United States of America""",60.514019,43.000000
3,Berlin,"""""","""Germany""",62.364130,28.612717
4,Los Angeles,"""California""","""United States of America""",36.621622,61.299435

In [23]:
df['Region']=df['Region'].map(lambda x:x.replace('"',''))

In [24]:
df['Country']=df['Country'].map(lambda x:x.replace('"',''))

In [25]:
df.head()

,City,Region,Country,AirQuality,WaterPollution
0,New York City,New York,United States of America,46.816038,49.504950
1,"Washington, D.C.",District of Columbia,United States of America,66.129032,49.107143
2,San Francisco,California,United States of America,60.514019,43.000000
3,Berlin,,Germany,62.364130,28.612717
4,Los Angeles,California,United States of America,36.621622,61.299435

In [27]:
df.to_csv('updated_daaset.csv',index=False)

In [29]:
df[df['Country']=='Germany']

Empty DataFrame
Columns: [City, Region, Country, AirQuality, WaterPollution]
Index: []

In [30]:
df['Country'][2]

' United States of America'

In [38]:
df['Country']=df['Country'].map(lambda x:x.strip())

In [39]:
df[df['Country']=='Germany']

,City,Region,Country,AirQuality,WaterPollution,County
3,Berlin,,Germany,62.364130,28.612717,Germany
28,Cologne,North Rhine-Westphalia,Germany,60.714286,27.777778,Germany
40,Bonn,North Rhine-Westphalia,Germany,82.812500,22.500000,Germany
52,Heilbronn,Baden-Wurttemberg,Germany,80.000000,0.000000,Germany
76,Aachen,North Rhine-Westphalia,Germany,70.454545,17.857143,Germany
...,...,...,...,...,...,...
2693,Bad Waldsee,Baden-Wurttemberg,Germany,100.000000,50.000000,Germany
2714,Weilheim in Oberbayern,Bavaria,Germany,100.000000,50.000000,Germany
2727,Buckow,Brandenburg,Germany,87.500000,50.000000,Germany
3942,Erfurt,Thuringia,Germany,85.000000,50.000000,Germany
3943,Garmisch-Partenkirchen,Bavaria,Germany,100.000000,50.000000,Germany

In [40]:
df[df['Country']=='Uzbekistan']

        City Region     Country  AirQuality  WaterPollution      County
21  Tashkent         Uzbekistan   56.451613       49.166667  Uzbekistan

In [41]:
df.to_csv('updated_dataset.csv')

In [42]:
df.index

RangeIndex(start=0, stop=3963, step=1)

In [43]:
df1=pd.pivot_table(df,index=['Country','City'])
df1

                      AirQuality  WaterPollution
Country     City
Afghanistan Andkhoy    50.000000       50.000000
            Farah     100.000000        0.000000
            Herat      43.750000       31.250000
            Kabul      18.421053       81.060606
            Kandahar    0.000000       75.000000
...                          ...             ...
Zambia      Mansa      75.000000       25.000000
Zimbabwe    Bindura    50.000000       75.000000
            Bulawayo   67.857143       71.428571
            Harare     38.461538       87.500000
            Masvingo   25.000000       62.500000

[3895 rows x 2 columns]

In [44]:
df1.loc[['Uzbekistan', 'Germany', 'Tajikistan']]

                      AirQuality  WaterPollution
Country    City
Uzbekistan Tashkent    56.451613       49.166667
Germany    Aachen      70.454545       17.857143
           Aalen       87.500000       50.000000
           Abensberg  100.000000       50.000000
           Amberg     100.000000       50.000000
...                          ...             ...
           Wolfsburg   96.875000        0.000000
           Worms       60.000000      100.000000
           Wuppertal   90.000000        0.000000
           Zwickau     75.000000       50.000000
Tajikistan Dushanbe    41.666667       61.111111

[126 rows x 2 columns]

In [45]:
df2=df1.copy()

In [49]:
df2['Airpollution']=100-df["AirQuality"]
df2['WaterQuality']=100-df["WaterPollution"]

In [53]:
data=pd.DataFrame(df2.values,index=df2.index,columns=[['Air','Air','Water','Water'],['AirQuality','Airpollution','Waterquality','WaterPollution']])

In [54]:
data

                             Air                     Water
                      AirQuality Airpollution Waterquality WaterPollution
Country     City
Afghanistan Andkhoy    50.000000    50.000000          NaN            NaN
            Farah     100.000000     0.000000          NaN            NaN
            Herat      43.750000    31.250000          NaN            NaN
            Kabul      18.421053    81.060606          NaN            NaN
            Kandahar    0.000000    75.000000          NaN            NaN
...                          ...          ...          ...            ...
Zambia      Mansa      75.000000    25.000000          NaN            NaN
Zimbabwe    Bindura    50.000000    75.000000          NaN            NaN
            Bulawayo   67.857143    71.428571          NaN            NaN
            Harare     38.461538    87.500000          NaN            NaN
            Masvingo   25.000000    62.500000          NaN            NaN

[3895 rows x 4 columns]

In [55]:
data['Air']

                      AirQuality  Airpollution
Country     City
Afghanistan Andkhoy    50.000000     50.000000
            Farah     100.000000      0.000000
            Herat      43.750000     31.250000
            Kabul      18.421053     81.060606
            Kandahar    0.000000     75.000000
...                          ...           ...
Zambia      Mansa      75.000000     25.000000
Zimbabwe    Bindura    50.000000     75.000000
            Bulawayo   67.857143     71.428571
            Harare     38.461538     87.500000
            Masvingo   25.000000     62.500000

[3895 rows x 2 columns]

In [56]:
data

                             Air                     Water
                      AirQuality Airpollution Waterquality WaterPollution
Country     City
Afghanistan Andkhoy    50.000000    50.000000          NaN            NaN
            Farah     100.000000     0.000000          NaN            NaN
            Herat      43.750000    31.250000          NaN            NaN
            Kabul      18.421053    81.060606          NaN            NaN
            Kandahar    0.000000    75.000000          NaN            NaN
...                          ...          ...          ...            ...
Zambia      Mansa      75.000000    25.000000          NaN            NaN
Zimbabwe    Bindura    50.000000    75.000000          NaN            NaN
            Bulawayo   67.857143    71.428571          NaN            NaN
            Harare     38.461538    87.500000          NaN            NaN
            Masvingo   25.000000    62.500000          NaN            NaN

[3895 rows x 4 columns]

In [62]:
data.columns.names=['Object','Info']

In [63]:
data

Object                       Air                     Water
Info                  AirQuality Airpollution Waterquality WaterPollution
Country     City
Afghanistan Andkhoy    50.000000    50.000000          NaN            NaN
            Farah     100.000000     0.000000          NaN            NaN
            Herat      43.750000    31.250000          NaN            NaN
            Kabul      18.421053    81.060606          NaN            NaN
            Kandahar    0.000000    75.000000          NaN            NaN
...                          ...          ...          ...            ...
Zambia      Mansa      75.000000    25.000000          NaN            NaN
Zimbabwe    Bindura    50.000000    75.000000          NaN            NaN
            Bulawayo   67.857143    71.428571          NaN            NaN
            Harare     38.461538    87.500000          NaN            NaN
            Masvingo   25.000000    62.500000          NaN            NaN

[3895 rows x 4 columns]

In [64]:
data.index.names

FrozenList(['Country', 'City'])

In [65]:
data.swaplevel('Country','City')

Object                       Air                     Water
Info                  AirQuality Airpollution Waterquality WaterPollution
City     Country
Andkhoy  Afghanistan   50.000000    50.000000          NaN            NaN
Farah    Afghanistan  100.000000     0.000000          NaN            NaN
Herat    Afghanistan   43.750000    31.250000          NaN            NaN
Kabul    Afghanistan   18.421053    81.060606          NaN            NaN
Kandahar Afghanistan    0.000000    75.000000          NaN            NaN
...                          ...          ...          ...            ...
Mansa    Zambia        75.000000    25.000000          NaN            NaN
Bindura  Zimbabwe      50.000000    75.000000          NaN            NaN
Bulawayo Zimbabwe      67.857143    71.428571          NaN            NaN
Harare   Zimbabwe      38.461538    87.500000          NaN            NaN
Masvingo Zimbabwe      25.000000    62.500000          NaN            NaN

[3895 rows x 4 columns]

In [66]:
data

Object                       Air                     Water
Info                  AirQuality Airpollution Waterquality WaterPollution
Country     City
Afghanistan Andkhoy    50.000000    50.000000          NaN            NaN
            Farah     100.000000     0.000000          NaN            NaN
            Herat      43.750000    31.250000          NaN            NaN
            Kabul      18.421053    81.060606          NaN            NaN
            Kandahar    0.000000    75.000000          NaN            NaN
...                          ...          ...          ...            ...
Zambia      Mansa      75.000000    25.000000          NaN            NaN
Zimbabwe    Bindura    50.000000    75.000000          NaN            NaN
            Bulawayo   67.857143    71.428571          NaN            NaN
            Harare     38.461538    87.500000          NaN            NaN
            Masvingo   25.000000    62.500000          NaN            NaN

[3895 rows x 4 columns]

In [67]:
data.sort_index(level=0,ascending=False)

Object                       Air                     Water
Info                  AirQuality Airpollution Waterquality WaterPollution
Country     City
Zimbabwe    Masvingo   25.000000    62.500000          NaN            NaN
            Harare     38.461538    87.500000          NaN            NaN
            Bulawayo   67.857143    71.428571          NaN            NaN
            Bindura    50.000000    75.000000          NaN            NaN
Zambia      Mansa      75.000000    25.000000          NaN            NaN
...                          ...          ...          ...            ...
Afghanistan Kandahar    0.000000    75.000000          NaN            NaN
            Kabul      18.421053    81.060606          NaN            NaN
            Herat      43.750000    31.250000          NaN            NaN
            Farah     100.000000     0.000000          NaN            NaN
            Andkhoy    50.000000    50.000000          NaN            NaN

[3895 rows x 4 columns]